
CREATE TABLE Bead (
	BeadID INT IDENTITY(1001,1) NOT NULL,
	Gemstone VARCHAR(50),
	Description VARCHAR(50),
	Color VARCHAR (50),
	[Size(mm)] VARCHAR (50),
	MerchantID INT,
	PRIMARY KEY (BeadID),
	FOREIGN KEY(MerchantID) REFERENCES Merchant(MerchantID)
);

CREATE TABLE BeadInventory (
	DateReceived [date],
	BeadID [int],
	Quantity [int],
	BulkCost [money],
	CostPerBead  AS ([BulkCost]/[Quantity]) PERSISTED,
	BDOrderNumber [varchar](20) NOT NULL,
	CurrentInventory [int],
	PRIMARY KEY (BDOrderNumber),
	FOREIGN KEY(BeadID) REFERENCES Bead(BeadID)
);
	
CREATE TABLE BraceletInventory (
	BraceletID INT IDENTITY(1,1) NOT NULL,
	Size DECIMAL(18, 2) ,
	BeadQuantity INT,
    BeadID INT,
	LeatherID INT,
	ButtonID INT,
	ThreadID INT,
	Date DATE,
	BeadCost MONEY,
	LeatherCost MONEY,
	ButtonCost MONEY,
	ThreadCost MONEY,
	TotalCost  AS ([BeadCost]+[LeatherCost]+[ButtonCost]+[ThreadCost]) PERSISTED,
	Status VARCHAR(20),
	PRIMARY KEY (BraceletID),
	FOREIGN KEY(BeadID) REFERENCES Bead(BeadID),
	FOREIGN KEY(LeatherID) REFERENCES Leather(LeatherID),
	FOREIGN KEY(ThreadID) REFERENCES Thread(ThreadID),
	FOREIGN KEY(MerchantID) REFERENCES Merchant(MerchantID)
);

CREATE TABLE Button (
	ButtonID INT IDENTITY(401,1),
	Description VARCHAR(50),
	[Size(mm)] VARCHAR(50),
	MerchantID INT,
	Type VARCHAR(50),
	PRIMARY KEY (Button),
	FOREIGN KEY(MerchantID) REFERENCES Merchant([MerchantID])
	
);

CREATE TABLE ButtonInventory (
	DateReceived DATE,
	ButtonID INT,
	Quantity INT,
	BulkCost MONEY,
	BTNOrderNumber VARCHAR(20) NOT NULL,
	CostPerButton  AS ([BulkCost]/[Quantity]) PERSISTED,
	CurrentInventory INT,
	PRIMARY KEY (BTNOrderNumber) ,
	FOREIGN KEY(ButtonID) REFERENCES Button(ButtonID)
);

CREATE TABLE Leather (
	LeatherID INT IDENTITY(201,1) NOT NULL,
	Description VARCHAR(50),
	Color VARCHAR(50),
	MerchantID INT,
	[Thickness(mm)] DECIMAL(18, 2),
    PRIMARY KEY (LeatherID),
	FOREIGN KEY(MerchantID) REFERENCES Merchant(MerchantID)
);

CREATE TABLE LeatherInventory (
	DateReceived DATE,
	LeatherID INT,
	QuantitybyFoot INT,
	BulkCost MONEY,
	LOrderNumber VARCHAR(20) NOT NULL,
	CostPerInch AS (BulkCost/(QuantitybyFoot*12)) PERSISTED,
	CurrentInventory INT,
    PRIMARY KEY (LOrderNumber),
	FOREIGN KEY(LeatherID) REFERENCES Leather(LeatherID)
);
	
CREATE TABLE Merchant (
	MerchantID INT IDENTITY(101,1) NOT NULL,
	Name VARCHAR(50),
	Location VARCHAR(50),
	PRIMARY KEY (MerchantID)
);

CREATE TABLE Thread (
	ThreadID INT IDENTITY(301,1) NOT NULL,
	Description VARCHAR(50),
	MerchantID INT,
	[Thickness(mm)] DECIMAL(18, 2),
	PRIMARY KEY (ThreadID),
	FOREIGN KEY(MerchantID) REFERENCES Merchant(MerchantID)
);
	
CREATE TABLE ThreadInventory (
	DateReceived DATE,
	ThreadID INT,
	QuantitybyFoot INT,
	BulkCost MONEY,
	CostPerInch AS (BulkCost/(QuantitybyFoot*12)) PERSISTED,
	THOrderNumber VARCHAR(20) NOT NULL,
	CurrentInventory INT,
	PRIMARY KEY (THOrderNumber),
	FOREIGN KEY(ThreadID) REFERENCES Thread(ThreadID)
);
	

















